
body{
	margin: 0;
	padding: 0;
}
.wrap{
	/* background-color: black; */
	background-image: url(../img/3.png);
	height: 100%;
	width: 100%;
  position: fixed;
  z-index: 998;
	/* border: 5px solid white; */
}
.shade{
  position: fixed;
	z-index: 999;
	background-color:rgba(0,0,0,0.6);
	height: 100%;
	width: 100%;
}
table{
  color: white;
  border: 1px solid white;
  position: fixed;
  z-index: 1000;
  left: 35%;
  top: 32%;
  /* background-color: rgba(0,0,0,0.1); */
  box-shadow: 1px 1px 10px white;
  width: 32%;
  height: 320px;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 5px;
}
.tr-one{
  text-align: center;
  font-size: 30px;
}
.tr-four{
  text-align: center;
  font-size: 30px;
}
input{
  background-color:rgba(0,0,0,0.3);
  width: 60%;
  height: 30px;
  border-radius: 5px;
  color: white;
}
button{
  width: 50%;
  height: 35px;
  background-color:rgba(0,255,0,0.5);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 22px;
}
