<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="../../static/home/css/signin.css" />
    	<script src="../../static/home/js/jquery.min.js"></script>

    </script>

    <script>
      function login(){
        var username=$("#username").val();
        var password=$("#password").val();
        // var dataValue= new Object();
        // dataValue.username = username;
        // dataValue.password = password;
        $.ajax({
          url:"signin",
          type:"GET",
          dataType: 'json',
          data:{"value":password},
          traditional:true,
          success: function(data){
            if(data['result']==1)
            {
              window.location.href="caesar";
            }
            else{
              alert("Account or Password was incorretcly!");
            }
          },
        error: function(){
          // alert("ajax_error");
        },
        });
      }
    </script>
  </head>
  <body>
    <!-- <input id="text" type="text" name="test">
    <input id="botton" type="submit" value="submit" onclick="test()"> -->
    <div class="wrap">
      <div class="shade">
        </div>
        <form class="" action="signin" method="get">

      <table>
        <tr class="tr-one">
          <td>
            <p>CAESAR &nbsp&nbsp LOGIN</p>
          </td>
        </tr>
        <tr>
          <td>
            <span >&nbsp&nbsp&nbsp USERNAME :  </span>
            <span>
              <input type="text" name="username" id="username" value="">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span >&nbsp&nbsp&nbsp PASSWORD : </span>
            <span>
              <input type="password" name="password" id="password"  value="">
            </span>
          </td>
        </tr>
        <tr class="tr-four">
          <td>
            <span>
              <button type="button" name="button" value="submit" onclick="login()">LOGIN IN</button>
            </span>
          </td>
        </tr>
      </table>
    </form>
    </div>

  </body>
</html>

<!-- <p>This is a sign in page!</p>
<p></p>

<input type="text" name="test">
<input type="submit" value="submit"> -->
